body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('C:\\Users\\NGS112\\Desktop\\JobPortal\\homePage.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.logo{
    margin-right: 40px;
    max-width: 180px;
    margin-top: 20px;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f2f2f2;
}